<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Package visibility for launcher apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:label="USSD Demo"
        android:theme="@style/Theme.UssDemoProject"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <activity
            android:name=".ui.AppDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AppListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
